---
import Layout from '../layouts/layout.astro';

---

<html lang="en">

	<Layout> 
		<body>
			<h1>My test Astro</h1>
			<p>	AHHHHHHHH</p>
		</body>
	</Layout>
	
</html>

<style>
	.container {
		margin-top: 100px;
	}
</style>